.pressed {
	font-weight: bold;
	font-size: 150%;
	background-color: yellow;
}

.unpressed {
	background-color: lightgray;
}

.toggle {
	text-align: center;
	color: black;
	border: 1px solid black;
	background-color: lightgray;
}

.rowToggle {
	width: 40px;
}

.colToggle {
	height: 40px;
}

.rowToggle, .colToggle {
    border-radius: 10px;
}

.rowToggle, .colToggle, .cell {
	cursor: pointer;
}

.rowToggle:hover, .colToggle:hover, .cell:hover {
    background-color: white;
}

.cell {
	width: 80px;
	height: 80px;
	text-align: center;
	color: black;
	border: 1px solid black;
	cursor: pointer;
}

.button {
	height: 40px;
	text-align: center;
	color: black;
	font-weight: bold;
	border: 1px solid black;
}

.challenge1 {
	background-color: lightgreen;
}

.challenge2 {
	background-color: lightyellow;
}

.challenge3 {
	background-color: pink;
}

.success {
	color: darkgreen;
	font-weight: bold;
}

.challengeCell {
	border: 1px solid black;
	text-align: center;
}

body {
	background-color: gray;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}