.pressed {
	font-weight: bold;
	background-color: white;
}

.unpressed {
	background-color: lightgray;
}

.cell {
	width: 80px;
	height: 80px;
	text-align: center;
	color: black;
	border: 1px solid black;
}

body {
	background-color: gray;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}